<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8" />
	<title>Objetos 2</title>
	<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
</head>

<body>
	<header th:fragment="header">
		<header th:fragment="header">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="/index">UNLa</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
					data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">

						

						<li class="nav-item">
							<a class="nav-link" href="manage">Gestionar pedidos</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/logout">Cerrar sesion</a>
						</li>

				</div>
				</li>
				</ul>
				</div>
			</nav>
			<div class="alert alert-success alert-dismissable" th:if="${success != null}">
				<label th:text="${success}"></label>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		</header>
	</header>
	
	
	<main>
	
	<h1>AGREGAR NOTA DE PEDIDO</h1>
	
	<p>TIPO DE PETICION</p>
<select class="form-select" aria-label="Default select example" id="petition-type">

  <option value="Curso" selected>Curso</option>
  <option value="Final">Final</option>

</select>
		
	
	<form action="#" th:action="@{/nota-pedido/add}" th:object="${notaPedido}" method="post">
				<input type="hidden" th:field="*{id}" />
				<p> Cantidad de estudiantes: <input type="number" min="0"  th:field="*{cantEstudiantes}" />
					<small></small>
			    </p>
	            <p> Observaciones: <textarea type="text" th:field="*{observaciones}" />
						<small></small>
	            </p>
	            
				<p> Codigo de curso: <textarea type="text" th:field="*{codCurso}" />
					<small></small>
			</p> 

			<p> Fecha de examen: <textarea type="text" th:field="*{fechaExamen}" />
				<small></small>
		</p>
	           
	           
			<input type="submit" class="btn btn-primary btn-sm" value="Guardar" />
		</form></main>



	
	<footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">
		<div class="container">
		<p>GRUPO 18</p>
		</div>
		
		
	</footer>
	
	<script type="text/javascript">
	
	const typeOfPetition=document.querySelector("#petition-type")
	typeOfPetition.addEventListener("change",(e)=>{
		console.log(e.target.value)
	})

	</script>
	
</body>
</html>